/**
 * NOTICE: This is a commercial Drupal theme. Elements of this theme including this field
 * are licensed under a standard commercial license which does not permit redistribution. 
 */

/* Articles (nodes) */
.article {
  margin-bottom: 20px;
}

.article .article-inner > header {
  margin-bottom: 10px;
}

/* Teaser title. */
.article-title {
  text-transform: uppercase;
}
.article-title a:link,
.article-title a:visited,
.article-title a:active {
  text-decoration: none;
}
.article-title a:hover,
.article-title a:focus {
  text-decoration: underline;
}

/* User Picture. */
.article .user-picture {}
.article .user-picture img {}

/* Submitted */
.article footer {
  margin-bottom: 10px;
}

/* Content */
.article-content {}

/* Enable a big first letter for articles.
.article-content .field > .field-item > p:first-child:first-letter {
  float: left;
  margin: 0.115em 0.2em 0 0;
  font-size: 3em;
}
*/

/* Links. */
.article ul.links {
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    display:block;
    font-size: 0.859em;
}
.article ul.links li {
  margin: 0;
  padding: 0 .75em 0 0;
}
.article ul.links li a {
  color: #333;
}
.article ul.links li.node_read_more a {}
.article ul.links li.comment_add a {}
.article ul.links li.comment_comments a {}
.article ul.links li.comment_new_comments a {}
.article ul.links li.blog_usernames_blog a {}
.article ul.links li.print_html a {}
.article ul.links li.print_email a {}
.article ul.links li.print_pdf a {}

/* UL link first and last classes. */
.article ul.links li.first {}
.article ul.links li.last  {}


.article .service-links ul.links {
  margin: 10px 0;
}
.article .service-links ul.links li {
  list-style: none;
  margin: 0;
  padding: 3px 0;
  width: auto;
}

/* Workflow states. */
.article-add    {}
.article-edit   {}
.article-delete {}
.article-preview  {}
.article-sticky   {}
.article-promoted {}

/* Status. */
.article-unpublished {}

/* Theme the teaser. */
.article-teaser {}


