/**
 * NOTICE: This is a commercial Drupal theme. Elements of this theme including this field
 * are licensed under a standard commercial license which does not permit redistribution. 
 */

/* Blocks. */
.block {
  margin-bottom: 20px;
}

.block-title {
  margin: 0;
}

.front #block-system-main {
  background: #fff;
  border-width: 1px;
  border-style: solid;
}
.front #block-system-main {
  padding: 15px;
}

.block .more-link {
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}

/* Mini panels get a special title class. */
.mini-panel-title {
  margin: 0 10px;
}

/* Views */
.block-views {
  position: relative;
}

/* Target region blocks. */
.sidebar .block-inner {
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.03);
}
.sidebar .block-title {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 10px;
  border-top: 1px solid #fff;
}
.sidebar .block-content {
  padding: 10px;
  border-top: 1px solid #fff;
}
.two-50 .block-title,
.four-4x25 .block-title {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 10px 0;
}
.two-50 .block-content,
.four-4x25 .block-content {
  border-top: 1px solid #fff;
  border-top-color: rgba(255,255,255,0.9);
  padding: 10px 0;
}
.two-50 .block-content.no-title,
.four-4x25 .block-content.no-title  {
  border-top: 0;
}

/* Block lists */
.block ul li {
  margin: 0 0 0 1em;
}
.block .item-list ul,
.block .item-list li {
  list-style: none;
  margin: 0; 
  padding: 0;
}

/* Block wrapper for Mini Panels */
.block-panels_mini {}
.block-panels_mini .block-inner {}
.block-panels_mini .block-content {}
.block-panels_mini .mini-panel-title {
  margin: 0 10px;
}

#block-comment-recent span {
  font-size: 0.857em;
}

#menu-top-wrapper .block {
  margin: 0;
  float: left;
  display: inline;
  clear: none;
}
#menu-top-wrapper .block-inner {
   margin: 0;
   padding: 0;
} 
#menu-top-wrapper .block-title {} 
#menu-top-wrapper .block-content {}
#menu-top-wrapper .block-content ul,
#menu-top-wrapper .block-content ul li {
  display: inline;
  padding: 0;
  margin: 0;
}
#menu-top-wrapper .block-content ul li a {
  padding: 0 10px;
  margin: 0;
  line-height: 2em;
  color: #fff;
  text-decoration: none;
}
#menu-top-wrapper .block-search {
  float: right;
  margin: 3px 0 0 0;
}
#menu-top-wrapper .block-search  form,
#menu-top-wrapper .block-search  .form-item {
  margin: 0;
}
#menu-top-wrapper #search-block-form .form-text {
  background: #393939;
  -webkit-box-shadow: inset 0px 1px 2px 2px #242424;
  -moz-box-shadow: inset 0px 1px 2px 2px #242424;
  box-shadow: inset 0px 1px 2px 2px #242424;
  border: 1px solid #454545;
  padding: 3px;
  color: #fff;
  width: 180px;
}
#menu-top-wrapper #search-block-form input.form-submit,
#menu-top-wrapper #search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 20px;
  width: 20px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border: none;
  background: transparent url(images/search-button.png) no-repeat center center;
  overflow: hidden;
  text-shadow: 0 0 0 transparent;
  -web-kit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
}

/* Feature */
#feature-wrapper {
  margin-top: 20px;
}
#feature-wrapper .gpanel {
  border-width: 1px;
  border-style: solid;
  background: #fff;
  margin: 0 31px;
}
.region-two-66-33-first .block-inner {
  margin: 20px;
}
.region-two-66-33-second .block {
  margin: 20px -21px 10px 0;
  border: 1px solid #dcdcdc;
  -webkit-box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.03);
}
.region-two-66-33-second .block-inner {
  margin: 0;
  padding: 10px;
  border-top: 1px solid #fff;
}

/* Quicktabs */
.quicktabs-tabpage .block-inner {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 0 0 0 4px rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.03);
}
ul.quicktabs-tabs {
  font-size: 1.25em;
  margin: 0;
  overflow: hidden;
  background: #fff url(images/quicktabs-ul-tile.png) repeat-x left bottom;
}
ul.quicktabs-tabs li {
  margin: 0;
  display: block;
  float: left;
}
ul.quicktabs-tabs li a {
  line-height: 3em;
  height: 3em;
  padding: 0 10px;
}
ul.quicktabs-tabs li.active {
  background: url(images/quicktabs-active-arrow.png) no-repeat center bottom;
  line-height: 3em;
  height: 3em;
}
.quicktabs-tabpage  {
}

/* Poll block */
.block-poll ul.links {
  margin-left: 0;
}
.block-poll ul.links li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

/* Header region block */
.region-header .block {
  float: left;
  clear: none;
}

/* Footer blocks */
.region-footer .block {
  float: left;
  margin: 5px 0;
}
.region-footer .block p {
  margin: 0;
}

/* Ticker block */
#block-views-news-ticker-block {
  margin: 0 0 5px 0;
}
.liScroll-container {
  height: 3em;
  position: relative;
  width: 100%;
}
#block-views-news-ticker-block .liScroll-container .mask {
  left: 0;
  position: absolute;
  width: 100%;
}
ul.liScroll {
  font-family: inherit;
  font-size: inherit;
  font-size: 0.833em;
  width: 100%;
}
.block ul.liScroll li {
  margin: 0 10px;
  display: inline-block;
  white-space: nowrap;
}
ul.liScroll a {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.region-secondary-content .block,
.region-tertiary-content  .block {
  margin-bottom: 10px;
}

/* System help block*/
#block-system-help {
  background-color: #fff;
  margin: 0;
}

/* Servie links not node */
#block-service-links-service-links-not-node ul li {}