/**
 * NOTICE: This is a commercial Drupal theme. Elements of this theme including this field
 * are licensed under a standard commercial license which does not permit redistribution. 
 */

#comments {}
#comments > h2.title {
  margin-bottom: .5em;
}
.comment {
  margin-bottom: 20px;
}
#comments .indented {
  margin-left: 60px; /* one grid column */
}
.comment span.new {
  background: #f1f1f1;
  float: right;
  padding: 0 5px;
}
.comment div.user-picture img {
  margin: 5px 0 0 0;
}
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
.comment .attribution {
  display: table-cell;
  padding: 0 15px 0 0;
  vertical-align: top;
  overflow: hidden;
}
.comment .attribution img {
  margin: 0;
}
.comment .attribution .username {
  white-space: nowrap;
}
.comment .comment-submitted {
  font-style: italic;
}
.comment .comment-text {
  padding: 0 10px 0 0;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0;
}
.comment-unpublished {
  margin-right: 5px;
  padding: 5px 2px 5px 5px;
}
