/**
 * NOTICE: This is a commercial Drupal theme. Elements of this theme including this field
 * are licensed under a standard commercial license which does not permit redistribution. 
 */

.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}
.field-lable-inline .field-label {
  display: inline;
}

/* Term reference fields. */
.field-type-taxonomy-term-reference .field-label {
  margin: 0;
}
.field-type-taxonomy-term-reference ul {
  margin: 0;
  padding: 0;
}
.field-type-taxonomy-term-reference ul li {
  display: inline;
  list-style: none;
  padding: 0 0.75em 0 0;
}
.field-lable-inline .field-label {
  display: inline;
}

/* Reset figure, figcaption - some browsers style these as table elements! */
.field-type-image figure,
.field-type-image figcaption {
  margin: 0;
  padding: 0;
}
.field-type-image figcaption {
  margin-bottom: 10px;
  font-style: italic;
}
tabel .field-type-image img {
  width: 100%;
  height: auto;
}
.region-two-66-33-first .field-type-image img {
  width: auto;
  height: auto;
}