/**
 * NOTICE: This is a commercial Drupal theme. Elements of this theme including this field
 * are licensed under a standard commercial license which does not permit redistribution. 
 */

table {
  border-spacing: 0;
  border: 0;
  font-size: inherit;
  font: 100%;
  margin: 10px 0;
  padding: 0;
  width: 100%;
}
table,
td,
th {
  vertical-align:middle;
}
caption,
th,
td {
  text-align:left;
}
thead th {
  border-bottom: 1px solid #eaeaea;
  color: #333;
  font-weight: 700;
}
td,
th {
  border-bottom: none;
  margin: 0;
  padding: 8px 7px;
}
td {
}
tr.even,
tr.odd {
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-top: 1px solid #fff;
}
tr.odd,
tr.info {
  background-color: #f1f1f1;
}
tr.even {
  background-color: #f8f8f8;
}
tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
tr.odd td.active {
  background-color: #eee;
}
tr.even td.active {
  background-color: #f7f7f7;
}
td.region,
td.module,
td.container td.category {
  background-color: #f8f8f8;
  border-bottom: 1px solid #eaeaea;
  border-top: 20px solid #fff;
  color: #333;
  font-weight: 700;
}
tr:first-child td.region,
tr:first-child td.module,
tr:first-child td.container {
  border-top-width: 0;
}
#forum tr td.forum .name {
  padding-left: 5px;
}
#forum div.indent {
  margin-left: 7px;
}
#forum tr td.forum {
  min-width: 160px;
}
#forum td.forum .icon,
#forum .icon > div {
  background-image: url(images/headliner-forum-icons.png);
  background-position: -1px 0;
  width: 22px;
  height: 30px;
}
#forum tr.new-topics td.forum {
  background-position: -32px 0;
}
#forum td.forum .topic-status-new ,
#forum .icon .topic-status-new{
  background-position: -32px 0;
}
#forum td.forum .topic-status-hot,
#forum .icon .topic-status-hot {
  background-position: -62px 0;
  width: 26px;
}
#forum td.forum .topic-status-hot-new,
#forum .icon .topic-status-hot-new {
  background-position: -94px 0;
  width: 26px;
}
#forum td.forum .topic-status-sticky,
#forum .icon .topic-status-sticky {
  background-position: -128px 0;
}
#forum td.forum .topic-status-closed,
#forum .icon .topic-status-closed {
    background-position: -160px 0;
}

/**
 * Webkit work-around. Uncomment and adjust if you have borders on td.
 */
/*
tr td:last-child {
  border-right: 1px solid #eee;
}
*/
