/**
 * NOTICE: This is a commercial Drupal theme. Elements of this theme including this field
 * are licensed under a standard commercial license which does not permit redistribution.
 */

/* Header layout */

/* Left */
.hl-l #branding {
  float: left;
  margin: 0 20px;
}

.hl-l .region-header {
  float: right;
  margin: 0 10px;
}

.hl-l .region-header .block {
  display: inline;
  clear: none;
  margin-bottom: 0;
}

.hl-l #logo {
  padding: 0 20px 7px 3px;
}


/* Right */
.hl-r #branding {
  float: right;
  margin: 0 20px;
}

.hl-r .region-header {
  float: left;
  margin: 0 10px;
}

.hl-r .region-header .block {
  display: inline;
  clear: none;
  margin-bottom: 0;
}

.hl-r #logo {
  padding: 0 3px 7px 20px;
}

/* Centered */
.hl-c #branding {
  float: none;
  margin: auto;
  text-align: center;
}

.hl-c .region-header {
  display: table;
  float: none;
  margin: 15px auto 0;
  text-align: center;
}

.hl-c .region-header .block {
  margin: auto;
  display: inline;
  text-align: left;
  clear: none;
}

.hl-c .region-header .block-inner {
  margin: 0 20px;
}

.hl-c #logo {
  padding: 0 0 10px 0;
}


/* Image Alignment */
.field-type-image {
  margin: 0;
}

.field-type-image img {
  display: block;
  padding: 0;
  margin-bottom: 10px;
}

.iat-n .field-type-image,
.ia-n .field-type-image {
  float: none;
}

.iat-l .field-type-image figure,
.ia-l .field-type-image figure {
  margin: 4px 15px 0 0;
}

.iat-r .field-type-image figure,
.ia-r .field-type-image figure {
  margin: 4px 0 0 15px;
}

.field-type-image.field-label-above {
  margin-top: 0;
}

.field-type-image .field-label {
  margin-bottom: 0.5em;
}

.field-type-image.field-label-inline .field-label {
  margin-bottom: 0;
  line-height: 1;
}

/* Override image alignment with short codes,
   its takes a lot to override the theme settings for image alignment */
body .image-left,
body div.image-left,
body div.image-left .field-type-image {
  float: left;
  margin: 4px 15px 0 0;
  text-align: left;
}

body .image-left img,
body div.image-left img,
body div.image-left .field-type-image img {
  text-align: left;
  margin: 0;
}

body .image-right,
body div.image-right,
body div.image-right .field-type-image {
  float: right;
  margin: 4px 0 0 15px;
  text-align: right;
}

body .image-right img,
body div.image-right img,
body div.image-right .field-type-image img {
  text-align: right;
  margin: 0;
}

body .image-center,
body .image-center img,
body div.image-center,
body div.image-center .field-type-image {
  text-align: center;
}

body .image-center,
body div.image-center,
body div.image-center .field-type-image img{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


/* Reset node from image fields */
form.node-form div.field-type-image,
form.node-form div.field-type-image img {
  text-align: left !important;
}
form.node-form div.field-type-image img {
  display: inline !important;
  margin: 0 !important;
}


/* Title shadows */
.pts-l #page-title,
.nts-l .article-title,
.cts-l .comment-title,
.bts-l .block-title{
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.pts-d #page-title,
.nts-d .article-title,
.cts-d .comment-title,
.bts-d .block-title{
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.pts-w #page-title,
.nts-w .article-title,
.cts-w .comment-title,
.bts-w .block-title{
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

/* Background overlays */
.bb-n {
  background-image: none;
}
.bb-h {
  background-image: url(images/hatch.png);
}
.bb-vl {
  background-image: url(images/line-vert.png);
}
.bb-hl {
  background-image: url(images/line-horiz.png);
}
.bb-g {
  background-image: url(images/grid.png);
}

/* Box shadows */
.sc-n #page  {
  -webkit-box-shadow:0 0 0 transparent;
  -moz-box-shadow:0 0 0 transparent;
  box-shadow:0 0 0 transparent;
}

.bs-l #page {
  -webkit-box-shadow:0 0 10px rgba(76, 76, 76, 0.7);
  -moz-box-shadow:0 0 10px rgba(76, 76, 76, 0.7);
  box-shadow:0 0 10px rgba(76, 76, 76, 0.7);
}

.bs-d #page  {
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.9);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.9);
}

/* Bullets */
.mb-n ul.menu {
  padding: 0;
  margin: 0;
}

.mb-n ul li.leaf,
.mb-n ul li.collapsed,
.mb-n ul li.expanded {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.mb-ah ul.menu {
  padding: 0 0 0 0.1em;
  margin: 0;
}

.mb-ah ul li.leaf,
.mb-ah ul li.collapsed,
.mb-ah ul li.expanded {
  list-style-image: url(images/arrow-head.png);
}

.mb-ad ul.menu {
  padding: 0 0 0 0.2em;
  margin: 0;
}
.mb-ad ul li.leaf,
.mb-ad ul li.collapsed,
.mb-ad ul li.expanded {
  list-style-image: url(images/arrow-double.png);
}

.mb-ca ul.menu {
  padding: 0 0 0 0.6em;
  margin: 0;
}

.mb-ca ul li.leaf,
.mb-ca ul li.collapsed,
.mb-ca ul li.expanded {
  list-style-image: url(images/arrow-circle.png);
}

.mb-fa ul.menu {
  padding: 0 0 0 0.6em;
  margin: 0;
}

.mb-fa ul li.leaf,
.mb-fa ul li.collapsed,
.mb-fa ul li.expanded {
  list-style-image: url(images/arrow-fat.png);
}

.mb-sa ul.menu {
  padding: 0 0 0 0.6em;
  margin: 0;
}
.mb-sa ul li.leaf,
.mb-sa ul li.collapsed,
.mb-sa ul li.expanded {
  list-style-image: url(images/arrow-skinny.png);
}

/* Login block - horizontal (theme setting) basic styles */
.lb-h {
  min-width: 320px;
  margin-top: 1px;
}

.region-header .lb-h {
  float: right;
}

.lb-h .block-inner,
.lb-h .block-content {
  background: none;
  padding: 0;
}

.lb-h #user-login-form {
  margin: 0;
}

.lb-h #user-login-form label {
  line-height: 1.2
}

.lb-h .form-item {
  float:left;
  margin: 0;
}

.lb-h input.form-text {
  margin:0 3px 0 0;
  width:110px;
}

.lb-h #edit-actions {
  margin: 0;
}

.lb-h input.form-submit {
  position: absolute;
  margin: 0;
  top: 1.2em;
}

.lb-h .form-required,
.lb-h .item-list {
  display: none;
}

.lb-h h2 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
