/**
 * NOTICE: This is a commercial Drupal theme. Elements of this theme including this field
 * are licensed under a standard commercial license which does not permit redistribution. 
 */

body {
  color: #666666;
  background-color: #f9f9f9;
}

#header-wrapper {
  background-color: #fefefe;
}

span.form-required,
span.marker,
a:link,
a:visited,
a:active,
a.active,
a:hover,
a:focus {
  color: #327ac5;
}

.poll .bar .foreground {
  background-color: #327ac5;
}

#site-slogan,
#site-name a {
  color: #181818;
}

.region-header #block-user-login label,
#page-title,
ul.quicktabs-tabs li a,
.block-title,
.article-title a,
.comment-title a,
.menu-wrapper a {
  color: #333333;
}

.not-front #main-content  > .inner,
.two-50,
.four-4x25,
.region-secondary-content,
.region-tertiary-content,
.views-slideshow-controls-top span,
.sidebar .block-inner,
.region-two-66-33-second .block,
.region-help,
.region-highlighted  {
  border-color: #dcdcdc;
}

.sidebar .block-title {
  background-color: #eaeaea;
  border-bottom-color: #dcdcdc;
}

.two-50,
.four-4x25,
.sidebar .block-inner {
  background-color: #f8f8f8;
}

.two-50 .block-title,
.four-4x25 .block-title {
  border-bottom-color: #eaeaeb;
}

.views-slideshow-controls-top span,
.region-two-66-33-second .block {
  background-color: #f1f1f1;
}

div.two-66-33,
#nav-wrapper .block,
.view-frontpage table td,
.view-frontpage table .col-1,
.front #block-system-main,
.not-front #main-content  > .inner {
  border-color: #eaeaeb;
}

#footer-panels-wrapper h1,
#footer-panels-wrapper h2,
#footer-panels-wrapper h3,
#footer-panels-wrapper h4,
#footer-wrapper h1,
#footer-wrapper h2,
#footer-wrapper h3,
#footer-wrapper h4 {
  color: #fffffe;
}
