//
// Color
// --------------------------------------------------

// General
$body-background-color: #F7F7F7;
$main-background-color: #FFFFFF;
$footer-background-color: #FFFFFF;

// Text
$text-color: #4F4E57;
$link-color: #168DD9;
$link-hover-color: darken($link-color, 20);
$footer-color: #4F4E57;

// Navbar
$navbar-background-color: #168DD9;
$navbar-color: #FFFFFF;
$brand-color: #FFFFFF;

body {
  color: $text-color;
  a {
    color: $link-color;
    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }
  }
}