// Maintenance
// CSS for maintenance page
// --------------------------------------------------
.maintenance-page {
  #main-wrapper {
    #main {
      padding-bottom: 30px;
      .sidebar {
        margin-bottom: 20px;
        ol.task-list {
          margin: 0 ;
          padding: 0;
          li {
            font-size: 1.1em;
            line-height: 1.3em;
            margin: 0 0 10px;
            i {
              font-size: 1.5em;
              margin: 3px 10px 0 0;
            }
            &.done {
              color: #999999;
            }
            &.active {
              font-weight: 800;
            }
          }
        }
      }
      .content {
        form {
          border: 1px solid #e5e5e5;
          padding: 20px 20px 0;
          @include border-radius(4px);
          .form-actions {
            margin: 20px -20px 0;
            @include border-radius(0 0 4px 4px);
            .form-submit {
              font-size: 20px;
              padding: 10px 25px;
            }
          }
        }
      }
    }
  }
  .system-status-report {
    border-collapse: separate;
    border-left: 0;
    tr {
      td {
        padding: 10px 8px;
        border-top: none;
        &.status-description {
          padding-left: 40px;
          font-size: 0.9em;
        }
      }
    }
  }
  .btn {
    display: inline-block;
    background: #0071ea;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099f1), color-stop(100%,#004be2));
    background: -moz-linear-gradient(center top, #0099f1 0%, #004be2 100%);
    -webkit-box-shadow: 0px 1px 0px 0px #1fa9f4 inset;
    -moz-box-shadow: 0px 1px 0px 0px #1fa9f4 inset;
    box-shadow: 0px 1px 0px 0px #1fa9f4 inset;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0px -1px 0px #000000;
    padding: 10px 10px;
    border-color: #126eaf;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    color: #ffffff;
  }
  .btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35b6f7), color-stop(100%,#004be2));
    background: -moz-linear-gradient(center top, #35b6f7 0%, #004be2 100%);
    -webkit-box-shadow: 0px 1px 0px 0px #1fa9f4 inset;
    -moz-box-shadow: 0px 1px 0px 0px #1fa9f4 inset;
    box-shadow: 0px 1px 0px 0px #1fa9f4 inset;
    -webkit-transition: background-color .8s ease-in-out;
    -moz-transition: background-color .8s ease-in-out;
    -o-transition: background-color .8s ease-in-out;
    transition: background-color .8s ease-in-out;
    line-height: -1px;
  }
  .btn:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004be2), color-stop(100%,#0099f1));
    background: -moz-linear-gradient(center top, #004be2 0%, #0099f1 100%);
    -webkit-box-shadow: 0px 0px 8px #474747 inset;
    -moz-box-shadow: 0px 0px 8px #474747 inset;
    box-shadow: 0px 0px 8px #474747 inset;
    text-shadow: 0px -1px 0px #093fab;
    line-height: -1px;
  }
}

@media (max-width: 767px) { 
  .maintenance-page {
    .page-header {
      margin-bottom: 10px;
      h1 {
        float: none;
        text-align: center;
      }
    }
    .steps {
      text-align: center;
      margin-bottom: 15px;
    }
    form {
      h3,
      p.lead {
        text-align: center;
      }
    }
  }
}