// Page
// Styles for panels
// --------------------------------------------------

// General
// --------------------------------------------------
.panel-display {
  .sidebar {
    .panel-pane {
      margin-bottom: 20px;
    }
  }
  .content {
    .panel-pane {
      margin-bottom: 20px;
    }
  }
}