.comment .attribution {
  display: inline-block;
  position: relative;
  float: left;
  overflow: hidden;
}
.comment .comment-text {
  display: inline-block;
  width: auto;
}
#content-column {
  padding-bottom: 20px;
}
.gpanel .region-four-fourth {
  width: 24.5%;
}
.region-two-66-33-second {
}
.region-two-66-33-second .block {
  padding: 0;
  margin: 20px 10px;
}
.hl-c .region-header {
  display: block;
  width: auto;
  float: none;
  margin: 15px auto 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.hl-c .region-header .block {
  margin: auto;
  display: inline-block;
  float: none;
  text-align: center;
  clear: none;
  vertical-align: top;
}
#block-views-news-ticker-block .liScroll-container .mask {
  margin-top: 10px;
}

