
#footer-panels-wrapper {
  background: url(../images/to/86.png);
}
#menu-top-wrapper,
#footer-wrapper {
  background: url(../images/to/90.png);
}
#search-block-form input.form-submit,
#search-form input.form-submit {
  text-transform: capitalize; /* Trigger text indent. */
  height: 26px;
}
#block-views-news-ticker-block {
  margin-bottom: 12px;
}
#block-views-news-ticker-block .liScroll-container .mask {
  top: -5px;
}
#content-wrapper {
  margin-bottom: 20px;
}